<nav>
<div><a href="/"><img src="/img/tempura_logo_white.png" alt="TempuraAppLogo"></a></div>
{{#if isLogNav}}
<div>
    <ul>
        <li>hours</li>
        <li><a href="/services/create">Add new service</a></li>
        <li><a href="/users/my-profile">My profile</a></li>
        <li><a href="/users/activity-panel">Notifications</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</nav>
{{else}}
<div>
    <ul>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
    </ul>
</div>
{{/if}}
</nav>