<h1>HomePage</h1>
<form action='/search-results' method='POST'>
  <label for=''>Search for services</label>
  <input type='text' name='search' placeholder="English classes, Bicycle repairs, ...">
  <button type='submit'>Submit</button>
</form>
