<main id="home">
  <div>

    <h1>Tempura <br>
      the time bank</h1>

    <form action='/services' method='GET'>
      <input type='text' name='search' placeholder="English classes, Bicycle repairs, ...">
      <button type='submit'>Find services!</button>
    </form>

  </div>
</main>