<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <br>
    <hr>
    <p>Footer</p>
    <p>Copyright 2021 Tempura</p>
  </body>
</html>
