<!DOCTYPE html>
<html>
  <head>
    <title>Tempura - Time Bank App</title>
    <link rel="shortcut icon" type="image/jpg" href="./../public/img/tempurafav.ico"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    {{{body}}}
    <br>
    <hr>
<footer>
    <p>Tempura <span class="copyleft">&copy;</span> 2021</p>
</footer>
  </body>
</html>
