{{> navbar this}}

<h1>login</h1>

<a href="/">go back to home</a>
<form action='/login' method='POST'>
  <label for=''>Username</label>
  <input type='text' name='username' minlength="5" required>

  <label for=''>Password</label>
  <input type='password' name='password' minlength="5" required>

  <button type='submit'>Submit</button>
</form>

{{#if errorMessage}}
<p style="color:red; font-weight:700">{{errorMessage}}</p>
{{/if}}