<main>
<h1>Create a new service in Tempura</h1>

  <form action='/services/create' method='POST' enctype="multipart/form-data">

  <label for=''>Service name</label>
  <input type='text' name='name' minlength="3" placeholder="English lessons">
<br>
  <label for=''>Service description</label>
  <input type='text' name='description' minlength="3" placeholder="Give a brief explanation of the service">
<br>
  <label for=''>Adds service pictures</label>
  <input type="file" name="service-picture" id=""/>


<br>
  <label for=''>Service location</label>
  <input type='text' name='servLocation' minlength="3" placeholder="Poblenou">
<br>
  <label for=''>Service duration in hours</label>
  <input type='number' name='duration' value="1" placeholder="1">
<br>
  <label for=''>Selectt the service category:</label>
<select name="category" value="Care">
    <option value="Care">Care</option>
    <option value="Construction & repair">Construction & repair</option>
    <option value="Digital services">Digital services</option>
    <option value="Food">Food</option>
    <option value="Sports & Health">Sports & Health</option>
    <option value="Other">Other</option>
</select>
<br>

  <button type='submit'>Create service</button>

  </form>
  </main>