@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
}

nav {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cf2f2a;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px #2e2e2e;
}

nav img {
  height: 5vh;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  font-weight: 700;
}
main a {
  color: #cf2f2a;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("https://assets.weforum.org/article/image/large_IWWaOBCfP3HquAboopHz2tsQ7TXToYM8VryVFC7RNR4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#home div {
  background-color: rgba(255, 255, 255, 0.2);
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

#home h1 {
  margin: 10vh 0 6vh 0;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
}

#home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 20vh;
  font-size: 2rem;
  text-align: center;
}

#home form input {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 0px;
  padding: 5px;
}

#home form button {
  margin-top: 10px;
  font-size: 1.3rem;
  width: 30%;
  height: 40px;
  border: 0px;
  border-radius: 3px;
}

#service-profile {
  margin: 20px 0 0 20px;
}

#service-profile img {
  width: 300px;
  height: auto;
  margin: 20px 0;
}

footer {
  background-color: #cf302a;
  color: white;
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
