@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", Helvetica, Arial, sans-serif;
}

nav {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cf2f2a;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px #2e2e2e;
}

nav img {
  height: 5vh;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

nav a,
li {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

main a:hover {
  font-weight: 700;
}
main a {
  color: #cf302a;
}

main a :hover {
  color: #1d1d1d;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("https://assets.weforum.org/article/image/large_IWWaOBCfP3HquAboopHz2tsQ7TXToYM8VryVFC7RNR4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#home div {
  background-color: rgba(255, 255, 255, 0.2);
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

#home h1 {
  margin: 10vh 0 6vh 0;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
}

#home form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 20vh;
  font-size: 2em;
  text-align: center;
}

#home form input {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 0px;
  padding: 7px 17px;
}

#home form button {
  margin-top: 10px;
  font-size: 1rem;
  width: 200px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 5px;
}

#service-profile {
  margin: 30px 0 0 20px;
}

#service-profile img {
  width: 300px;
  height: auto;
}

#service-profile section {
  display: flex;
}

#service-profile #main-content {
  margin: 0 0 10px 20px;
}

#service-profile .button {
  margin: 0 0 10px 20px;
  font-size: 1rem;
  width: 100px;
  height: 40px;
  border: 1px solid #cf2f2a;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#service-profile input {
  width: 60px;
  height: 30px;
  font-size: 1.5em;
  font-weight: 700;
  color: #cf2f2a;
  text-align: center;
}

#second-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#second-section .button {
  margin-bottom: 10px;
}

#second-section div {
  display: flex;
}

.request-button {
  margin: 0 0 10px 0;
  font-size: 1rem;
  width: 100px;
  height: 40px;
  border: 1px solid #cf2f2a;
  background-color: #cf2f2a;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #cf302a;
  color: white;
  position: fixed;
  bottom: 0;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

#user-profile {
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
}

#user-profile div {
  margin: 20px 20px 20px 0;
}

#user-profile img {
  width: 200px;
  height: 200px;
  margin: 20px 20px 20px 0;
}

#user-profile section {
  display: flex;
  font-size: 1.2em;
}

#user-profile ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

#user-profile li {
  width: 450px;
  display: flex;
}

#user-profile li img {
  width: 100px;
  height: 100px;
}

#user-profile .button {
  margin-top: 10px;
  font-size: 1rem;
  width: 100px;
  height: 40px;
  border: 1px solid #cf2f2a;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#activity-panel div {
  display: flex;
  flex-wrap: wrap;
}

#activity-panel img {
  width: 300px;
  height: auto;
}

#activity-panel article {
  width: 320px;
  padding: 15px;
  margin: 10px;
}

.yellow {
  font-weight: 900;
  color: rgb(248, 190, 31);
}

.green {
  font-weight: 900;
  color: green;
}

.red {
  font-weight: 900;
  color: red;
}

.tempura-color {
  color: #cf2f2a;
}

#service-results {
  margin: 20px 0 20px 20px;
}

#service-results ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

#service-results li:hover {
  background-color: #eeeeee;
  border-radius: 7px;
}

#service-results article {
  margin: 15px;
  display: flex;
  width: 450px;
}

#service-results img {
  border-radius: 7px;
  width: 150px;
  height: 150px;
  margin-right: 15px;
}

.black {
  color: black;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: #cf2f2a;
  height: 80px;
  text-align: right;
  padding-right: 20px;
}

#menu ul {
  list-style: none;
}

#menu a {
  text-decoration: none;
  color: white;
}

#menu a:hover {
  font-weight: 700;
}
